body{
    background-color: aquamarine;
    font-size: 18px;
}
.content{
    background-color: aqua;
    padding: 20px;
}
.container{
    height:2000px
}
li{
    background-color: rgb(162, 73, 245);
}

li > a{
    background-color: rgb(0, 255, 0);
    color: black;
}
.navbar-default .navbar-brand{
    font-size: 28px;
    font-weight: bold;
    color: #1b0202;
}